.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.default {
    padding: 100px 0;
}

.default .title {
    max-width: 1200px;
    margin: 0 auto 32px auto;
    padding: 0 15px;
}

.default .title h2 {
    font-family: GmarketSans;
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.default .title p {
    font-size: 18px;
    font-weight: 500;
}

.default .title span {
    margin: 16px 0 0 0;
}

.default_btn {
    display: inline-block;
    border: none;
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
}