* {
    outline: 1px solid tomato;
}

.slick-track,
.slick-slide {
    transition-delay: 300ms;
}

.wrap {
    min-width: 1600px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    line-height: 80px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.header:hover {
    color: #202124;
    background: #fff;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    transition: 0.3s;
}

.header.on {
    color: #202124;
    background: #fff;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    line-height: 70px;
}

.header h1 a {
    display: inline-block;
    width: 90px;
    height: 50px;
    font-size: 0;
    vertical-align: middle;
    background: url(../images/logo_white.png) no-repeat;
}

.header:hover h1 a {
    background: url(../images/logo_black.png) no-repeat;
}

.header.on h1 a {
    background: url(../images/logo_black.png) no-repeat;
}

.header .header_wrap {
    position: relative;
    display: flex;
    padding: 0 100px;
}

.header .header_wrap>* {
    flex: 1;
}

.header .header_wrap .gnb {
    flex: 0 0 1200px;
    padding: 0 15px;
}

.header .header_wrap .gnb>ul {
    display: flex;
    gap: 80px;
}

.header .header_wrap .gnb>ul>li {
    position: relative;
}

.header .header_wrap .gnb>ul>li>a {
    font-size: 16px;
    font-weight: 600;
}

.header .gnb>ul>li .sub {
    position: absolute;
    top: 80px;

    transition: height 0.3s;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    background: #fff;
    line-height: 30px;

    z-index: 999;
}

.header .gnb:hover>ul>li .sub {
    height: 120px;
}

.header .gnb>ul>li a {
    display: block;
}

.header .gnb::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1;

    transition: height 0.3s;
    height: 0;
}

.header .gnb:hover::before {
    height: 120px;
}

.header .header_wrap .lang {
    vertical-align: middle;
    margin: 0 10px 10px 0;
}

.header .header_wrap .util a {
    font-size: 24px;
    margin: 0 4px;
}

.mainVisual {
    position: relative;
}

.mainVisual .visual_slide .itm {
    position: relative;
    height: 100vh;
    min-height: 600px;
}

.mainVisual .visual_slide .itm01 {
    background: url(../images/main_banner001.jpg) no-repeat center center/cover;
}

.mainVisual .visual_slide .itm02 {
    background: url(../images/main_banner002.jpg) no-repeat center center/cover;
}

.mainVisual .visual_slide .itm03 {
    background: url(../images/main_banner003.jpg) no-repeat center center/cover;
}

.mainVisual .visual_slide .itm .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.mainVisual .visual_slide .itm .slogan span {
    font-family: GmarketSans;
    font-size: 24px;
    color: #fff;
    margin: 0 0 32px 0;
    line-height: 60px;
    text-shadow: 0px 1px 0px #000;
}

.mainVisual .visual_slide .itm .slogan p {
    font-family: GmarketSans;
    font-size: 56px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
    /* margin: 0 0 32px 0; */
}

.mainVisual .visual_slide .itm a {
    font-family: GmarketSans;
    display: inline-block;
    width: 150px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 25px;
    color: #fff;
    font-size: 14px;
}

.mainVisual .visual_slide .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .visual_slide .slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    margin: 0 10px 0 0;
    border-radius: 50%;
}

.mainVisual .visual_slide .slick-dots li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    background: #d91414;
}


.mainVisual .visual_slide .slick-dots li.slick-active::after {
    width: 100%;
    transition: 3s;
}

.mainVisual .visual_slide .slick-dots li button {
    display: none;
}

.mainProduct .title h2 {
    text-align: center;
}

.mainProduct .title p {
    text-align: center;
}

.mainProduct .content .main_tab {
    display: flex;
    gap: 20px;
    margin: 0 0 24px 0;
    justify-content: center;
    align-items: center;
}

.mainProduct .tab_content .tab_slide .img_box {
    margin: 0 0 16px 0;
}

.mainProduct .tab_content li {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    /* background: #d91414; */
}

.mainProduct .tab_content li.on {
    visibility: visible;
    height: auto;
}